{% extends "layout-1.html" %}
{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}
    <div>
        <h1>{{ book.title }}</h1>
        <h2>{{ book.author }}</h2>
        <h3>{{ book.isbn }}</h3>
    </div>

    <div>
        {% if ratings_count is not defined or average_rating is not defined %}
        <div></div>

        {% else %}
        <h1>goodreads</h1>
        <p>{{ ratings_count }}</p>
        <p>{{ average_rating }}</p>
        {% endif %}
    </div>

    <div>
        <h1>Reviews</h1>
        {% if reviews|length == 0 %}
        <p>No reviews. Be the first one to add one!</p>
        {% else %}
        {% for review in reviews|reverse %}
        <div>
            <p>{{ review.username }} rated this book {{ review.rating }} of 5</p>
            <p>{{ review.review }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if reviewed == true %}
        <p>You already reviewed</p>
        {% else %}
        <form action="/review" method="get">
            <h3>Your rating</h3>
            <input checked type="radio" id="five" name="rating" value="5">
            <label for="five">5</label>
            <input type="radio" id="four" name="rating" value="4">
            <label for="four">4</label>
            <input type="radio" id="tree" name="rating" value="3">
            <label for="tree">3</label>
            <input type="radio" id="two" name="rating" value="2">
            <label for="two">2</label>
            <input type="radio" id="one" name="rating" value="1">
            <label for="one">1</label>
            <h3>Your review</h3>
            <textarea name="review" placeholder="Share your thoughts" maxlength="255"></textarea>
            <input hidden type="text" value="{{ book.book_id }}" name="book">
            <button type="submit">Submit</button>
        </form>
        {% endif %}
    </div>
 
{% endblock %}