{% extends "landing-layout.html" %}
{% block title %}
    BookJar - Log In
{% endblock %}

{% block body %}
    <form name="loginForm" id="login" action="/login" method="post" onsubmit="return(validate())">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password" pattern=".{6,}">
        <button type="submit">Log In</button>
    </form>
    <div id="or">
        <hr>
        <p>or</p>
        <hr>
    </div>
    <form  action="register" id="register">
        <button id="new-account" href="register">Create New Account</button>
    </form >
    <script>
        const validate = () => {
            if (document.loginForm.username.value == "") {
                alert("Please provide you username")
                document.loginForm.username.focus()
                return false
            }
            if (document.loginForm.password.value < 6) {
                alert("Pasword must be at least 6 characters")
                document.loginForm.password.focus()
                return false
            }
        }
    </script>
{% endblock %}