{% extends "landing-layout.html" %}
{% block title %}
    BookJar - Log In
{% endblock %}

{% block body %}
    <form id="login" action="/login" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password" pattern=".{6,}">
        <button type="submit">Log In</button>
    </form>
    <div id="or">
        <hr>
        <p>or</p>
        <hr>
    </div>
    <form  action="register" id="register">
        <button id="new-account" href="register">Create New Account</button>
    </form >
    <script>
        
    </script>
{% endblock %}