<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/0b431ba239.js" crossorigin="anonymous"></script>

        <link href="/static/styles/search-layout.css" rel="stylesheet">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="containter-fluid">
            <header>
                <nav>
                    <a id="logout" href="{{ url_for('logout') }}">Log Out</a>
                    <form id="web-form" action="/search_books" method="get">
                        <input type="text" name="search" class="search_input" placeholder="Search by title, author or ISBN">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <!-- Mobile Logo-->
                    <a id="logo-mobile" href="{{ url_for('index') }}"><img id="logo" src="../static/images/book-jar-logo.svg" alt="BookJar Logo"></a>
                    <!-- Web Logo-->
                    <a id="logo-web" href="{{ url_for('index') }}"><img 
                    class="img-fluid" src="../static/images/bar-jar.png" alt="BookJar logo"></a>
                </nav>
            </header>
            <form id="mobile-form" action="/search_books" method="get">
                <input type="text" name="search" class="search_input" placeholder="Search by title, author or ISBN">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div id="background"></div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>