{% extends "search-layout.html" %}
{% block title %}
    Results for "{{ search }}"
{% endblock %}
{% block body %}
<div id="results">
    {% if search == "" %}
    <p class="title-select">Nothing typed</p>
    {% elif results|length == 0 %}
    <p class="title-select">No result</p>
    {% else %}
    <p id="title-mobile" class="title-select">Press title for details</p>
    <p id="title-web" class="title-select">Click title for details</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Year</th>
                    <th scope="col">ISBN</th>
                </tr>
            </thead>
            <tbody>
            {% for result in results %}
            <tr>
                <td scope="col">
                    <a href="{{ url_for('book', isbn=result.isbn) }}" class="table-link">{{ result.title }}</a>
                </td>
                <td scope="col">{{ result.author }}</td>
                <td scope="col">{{ result.year }}</td>
                <td scope="col">{{ result.isbn }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}

